@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital@0;1&display=swap');
/* Definition des variables CSS */
:root{
    --defaultFontSize:10px;
    --titleFont:"IBM Plex Sans Hebrew", sans-serif;
    --navFont:"Inter", sans-serif;
    --textFont: "Open Sans", sans-serif;
    --btnColor:#618264;
    --btnTextColor:#FFFFFF;
    --titleColor-nav:#000E01;
    --titleColor-1:#443434;
    /* --titleColor-2:#618264; */
    --textColor:#79AC78;
    --textColor-1:#000000;

}
/* reinitialisation de la mise en forme par defaut du navigateur */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* taillde de police par defaut sur ma page web */
html{
    font-size: var(--defaultFontSize);
}
/* mon contenu occupe totalement la hauteur et la largeur de mon ecran */
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* masque le scroll du navigateur*/
}
/* mise en forme de mon entete */
header{
    width: 100%;
    height: 12rem;
}
#menu{
    width: 100%;
    display: flex;
    padding: 2rem;

}
/* mise en forme de mon logo */
.menu__logo-canal2{
    flex: 1;
    display: flex;
    padding-left:2rem;
    justify-content: flex-start;
}
/* mise en forme de mes liens */
.menu__liens{
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
.menu__liens a{
    text-decoration: none;
    font-family: var(--navFont);
    font-weight: 400;
    font-size: 2rem;
    color: var(--titleColor-nav);
}
.menu__liens a:active{
    color: var(--textColor);
    text-decoration: underline;
    text-decoration-color:var(--textColor) ;
}
/* mise en forme de mon bouton */
.menu__btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    align-items: center;
}
.menu__btn button{
    width: 20rem;
    height: 6.9rem;
    border-radius: 5rem;
    background-color: var(--btnColor);
    color: var(--btnTextColor);
    font-family: var(--navFont);
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
}